<div class="container">
  <div class="user-info">
    <div class="user-dados">
      <div class="username">
        <%= image_tag @profile.photo, class: 'avatar' %>
        <p><%= @profile.first_name %> <%= @profile.last_name %></p>
      </div>
      <p>Email: <strong><%= @profile.email %></strong></p>
      <p>Telefone: <%= @profile.phone_number %></p>
      <p>cadastrado em: <%= @profile.created_at.strftime("%Y-%m-%d") %></p>
    </div>
      <% if @reviews.count == 0 %>
      <div class="sem-avaliacoes">
        <h2>Este vendedor não possui avaliações</h2>
      </div>
      <% else %>
      <div class="raiting">
        <span class="heading">Avaliações do vendedor:</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      <p><%= @raiting %> baseado em <%= @reviews.count  %> avaliações.</p>
      <hr style="border: 5px solid #C2EADD">
      <div class="row">
        <div class="side">
          <div>5 Estrelas</div>
        </div>
        <div class="middle">
          <div class="progress">
             <div class="progress-bar" role="progressbar" style="width: <%= (@reviews.where(raiting: 5).count / @reviews.count) * 100 %>%" aria-valuenow= "<%= (@reviews.where(raiting: 5).count / @reviews.count) * 100 %> " aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="side right">
          <div><%= @reviews.where(raiting: 5).count %></div>
        </div>
        <div class="side">
          <div>4 Estrelas</div>
        </div>
        <div class="middle">
          <div class="progress">
            <div class="progress">
               <div class="progress-bar" role="progressbar" style="width: <%= (@reviews.where(raiting: 4).count / @reviews.count) * 100 %>%" aria-valuenow= "<%= (@reviews.where(raiting: 4).count / @reviews.count) * 100 %> " aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
        </div>
        <div class="side right">
          <div><%= @reviews.where(raiting: 4).count %></div>
        </div>
        <div class="side">
          <div>3 Estrelas</div>
        </div>
        <div class="middle">
            <div class="progress">
               <div class="progress-bar" role="progressbar" style="width: <%= (@reviews.where(raiting: 3).count / @reviews.count) * 100 %>%" aria-valuenow= "<%= (@reviews.where(raiting: 3).count / @reviews.count) * 100 %> " aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
        <div class="side right">
          <div><%= @reviews.where(raiting: 3).count %></div>
        </div>
        <div class="side">
          <div>2 Estrelas</div>
        </div>
        <div class="middle">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= (@reviews.where(raiting: 3).count / @reviews.count) * 100 %>%" aria-valuenow= "<%= (@reviews.where(raiting: 3).count / @reviews.count) * 100 %> " aria-valuemin="0" aria-valuemax="100"></div>
           </div>
        </div>
        <div class="side right">
          <div><%= @reviews.where(raiting: 2).count %></div>
        </div>
        <div class="side">
          <div>1 Estrela</div>
        </div>
        <div class="middle">
        <div class="progress">
           <div class="progress-bar" role="progressbar" style="width: <%= (@reviews.where(raiting: 1).count / @reviews.count) * 100 %>%" aria-valuenow= "<%= (@reviews.where(raiting: 1).count / @reviews.count) * 100 %> " aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
        <div class="side right">
          <div><%= @reviews.where(raiting: 1).count %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-reviews">
    <% @reviews.each do |review| %>
      <div class="individual-review">
        <div class="image-review">
          <p><%= image_tag review.user.photo, width: '20px', height: '20px', class: 'avatar' %></p>
        </div>
        <div class="name-review">
          <p><%= review.user.first_name %> <%= review.user.last_name %></p>
        </div>
        <div class="content-review">
          <p><%= review.content %></p>
        </div>
        <div class="nota-review">
          <p><%= review.raiting %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

