<div class="container">
  <h2 style="margin-top: 15px;">Confirmação de Compra</h2>
    <h4 style="margin-top: 10px;">Parabéns <strong> <%= current_user.first_name %></strong>! Você comprou de <strong> <%= @deal.product.owner.first_name.capitalize %></strong> o seguinte produto:<h4>
      <div class="card-purchase info">
        <div clas="">
          <%= cl_image_tag @deal.product.photos.first.key, class: 'img-deal' %>
            </div>
            <p> <strong> Item: </strong><%=@deal.product.name%> - <%=@deal.product.description%> </p>
           <p> <strong> Valor: </strong>R$<%=@deal.product.price%> </p>
        </div>
      <div>
    <%= link_to "Continuar comprando", products_path, class: 'btn btn-primary ml-0 mt-3' %>
  </div>
</div>

<div class="container flex-column justify-content-center">
  <div class="dadosavalia">
    <div class="ownerphoto">
      <%= image_tag @deal.product.owner.photo, class: "avatar"%>
    </div>
    <div class="ownerphoto">
    <%= @deal.product.owner.first_name %> <%= @deal.owner.last_name%>
    </div>
  </div>
  <%= simple_form_for [@deal, @review] do |f|%>
    <%= f.input :content, label: "Descreva sua experiência:" %>
    <%= f.input :raiting, label: "Avaliação (1-5)" %>
    <%= f.submit 'Enviar', class: 'btn btn-primary' %>
  <% end  %>
</div>


<%= render 'shared/footer' %>

