<nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="#" class="logo">Desapega Baby</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="#" class="nav-links">Home</a>
            </li>
            <li>
                <a href="#" class="nav-links">Products</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>
            <li>
                <a href="#" class="nav-links">Contact Us</a>
            </li>
            <li>
                <a href="#" class="nav-links">Blog</a>
            </li>
        </ul>
    </nav>

<h1>Produtos</h1>
<% @products.each do |product| %>
<%= product.name %>
<%= product.brand %>
<%= product.description %>
<%= product.price %>
<% end  %>

<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
