<div class="container">
   <div class="cards">
    <% @products.each do |product| %>
     <div class="card-category">
      <%= cl_image_tag product.photos.first.key, height: 300, width: 400, class: 'card-img' %>
      <h4 class="card-title"><%= product.name %></h4>
      <h6 class="card-text"><%= product.brand %></h6>
      <h6 class="card-text">Vendedor: <%= product.owner.first_name %></h6>
      <div class="price">
        <p class="card-text"><h3 class="text-muted">R$<%= product.price %>0</h3></p>
        <%= link_to 'Visualizar', product, class: 'btn'  %>
      </div>
     </div>
    <% end %>
   </div>
  <%= paginate @products %>
</div>

<%= render 'shared/footer' %>
