<%= render 'shared/products' %>

<h1>Produtos</h1>
<% @products.each do |product| %>
<%= product.name %>
<%= product.brand %>
<%= product.description %>
<%= product.price %>
<% end  %>


<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
