<div class="container">
   <div class="cards">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
     <div class="card-category">
      <%= cl_image_tag product.photos.first.key, height: 300, width: 400, class: 'card-img' %>
      <div class="product-info">
        <div class="product-name">
          <span class="card-title"><%= product.name %></span>

          <p class="card-text"><%= product.brand %></p>
        </div>
        <div class="price" style="padding-top: 1rem;">
          <p class="card-text"><h5 class="text-muted">R$<%= product.price %>0</h5></p>
          <%#= link_to 'Visualizar', product, class: 'btn'  %>
          <% unless product.owner == current_user %>
            <%#=link_to 'Comprar', product_deals_path(product), method: :post, class: 'btn' %>
          <% end %>
        </div>
      </div>
     </div>
     <% end %>
    <% end %>
   </div>
  <%= paginate @products %>
</div>
<%= render 'shared/footer' %>
