<p>Show</p>

<%= @product.name %>
<%= @product.brand %>
<%= @product.description %>
<%= @product.price %>
<% @product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400 %>
<% end %>


<%= link_to 'comprar', product_deals_path(@product), method: :post, class: 'btn btn-primary' %>

<%= link_to "Home", root_path %>

<%= link_to "Editar", edit_product_path %>

<%= link_to "Excluir", @product, method: :delete, data: { confirm: 'Are you sure?' } %>

<p> <%= link_to "Back", :back %>  </p>
