<div class="container">
  <div class="card-product ">
    <%= cl_image_tag @product.photos.first.key, height: 300, width: 400, class: 'card-img' %>
    <div class="card-product-infos">
      <h4 class="card-title"><%= @product.name %></h4>
      <h5 class="card-text"><%= @product.brand %></h5>
      <h6 class="card-text">Vendedor: <%= @product.owner.first_name %></h6>

      <h6 class="card-text"><%= @product.description %></p>
      <p class="card-text"><h4 class="text-muted">R$<%= @product.price %>0</h4></h6>
    </div>

    <div class="buttons">
      <% if @product.owner != current_user %>
        <%= link_to 'Comprar', product_deals_path(@product), method: :post, class: 'btn-show' %>
      <% end %>

      <% if @product.owner == current_user %>
        <%= link_to "Editar", edit_product_path, class: 'btn-show' %>
      <% end %>


      <% if @product.owner == current_user%>
        <%= link_to "Excluir", @product, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse produto?' }, class: 'btn-show' %>
      <% end %>
      <%= link_to "Voltar", :back, class: 'btn-show' %>
      </div>
  </div>
<div class="similar-produtos">
  <% @similar_products.each do |product| %>
  <%= product.name %>
  <% end  %>
</div>

</div>


<%= render 'shared/footer' %>

