<div class="container">

  <div class="all-cards">

    <div class="img-left">
    <%= cl_image_tag @product.photos.first.key, class: "product-cl-img" if @product.photos.attached? %>
    </div>
    <div class="informacoes-produto">
      <div class="cards-right">
        <div class="product-info">
          <h4><%= @product.name %></h4>
          <h5><%= @product.brand %></h5>
          <h6><%= @product.description %></h6>
          <h6>R$<%= @product.price %>0</h6>
        <% if @product.owner != current_user %>
          <%= link_to 'Comprar', product_deals_path(@product), method: :post, class: 'btn btn-info btn-show btn-block' %>
        <% end %>

        <% if @product.owner == current_user %>
          <%= link_to "Editar", edit_product_path, class: 'btn btn-info btn-show btn-block' %>
        <% end %>

        <% if @product.owner == current_user%>
          <%= link_to "Excluir", @product, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse produto?' }, class: 'btn btn-info btn-show btn-block' %>
        <% end %>
        <%#= link_to "Voltar", :back, class: 'btn btn-info btn-show btn-block' %>
        </div>
      </div>

      <div class="card-vendor">
        <div class="vendo-photo">
          <%= image_tag @product.owner.photo, class: "avatar" %>
        </div>
        <div class="vendor">
          <h6>Vendido por: <%= @product.owner.first_name %></h6>
        </div>
        <div class="vendo profile">
          <h6 class="vendor-line">Veja o perfil e as avaliacoes de <%= @product.owner.first_name %></h6>
        </div>
        <div class="owner-profile">
          <%= link_to 'Perfil', profile_path(@product.owner), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
      <%# link_to 'Perfil', new_user_review_path(@product.owner), class: 'btn btn-primary' %>
  </div>

  <div class="similar">
    <p>Produtos Similares</p>
  </div>

  <div class="similar-product">
    <% @similar_products.each do |product| %>
      <div class="similar-product-foto">
        <%= cl_image_tag product.photos.first.key, height: 200, width: 200 %>
      </div>
      <div class="similiar-product-name">
        <%= product.name %>
        R$<%= product.price %>0
      </div>
    <% end  %>
  </div>
</div>


<%= render 'shared/footer' %>

