<p>Show</p>

<%= @product.name %>
<%= @product.brand %>
<%= @product.description %>
<%= @product.price %>
<%= link_to 'comprar', new_product_deal_path(@product), class: 'btn btn-primary' %>

<%= link_to "Home", root_path %>
<<<<<<< HEAD
<%= link_to "Editar", edit_product_path %>
=======

>>>>>>> c6d7421c9296ba71f022f208c41a96d4a1a341be
