
<div class="container">
  <div class="container-form">
    <div class="form-inputs">
      <%= simple_form_for [@profile, @review] do |f| %>
        <h2><%= @owner.first_name %> <%= @owner.last_name %></h2>
        <%= f.input :owner_id, input_html: {value: @owner.id}, as: :hidden %>
        <%= f.input :content, label: 'Avaliação:' %>
        <%= f.input :raiting, label: 'Nota:' %>
    </div>
    <div class="form-actions text-center">
      <%= f.button :submit, "Enviar" %>
      <%= link_to 'Lista de produtos', products_path, class: 'btn' %>
    </div>
  <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
